@model ForumApp.Models.ForumDetail
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<p>
    @Html.ActionLink("New Thread", "Create", "Thread", new { id = Model.ForumId }, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Threads.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Threads.First().PostCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Threads.First().UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Threads.First().LastPostUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var thread in Model.Threads)
    {
        <tr>
            <td>
                @Html.ActionLink(thread.Title, "Details", "Thread", new { id = thread.ThreadId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => thread.PostCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => thread.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => thread.LastPostUtc)
            </td>
            <td>
                @if (User.Identity.GetUserId() == thread.UserId.ToString())
                {
                    @Html.ActionLink("Edit", "Edit", "Thread", new { id = thread.ThreadId }, htmlAttributes: new { @class = "btn btn-xs btn-warning" })
                    @Html.ActionLink("Delete", "Delete", "Thread", new { id = thread.ThreadId }, htmlAttributes: new { @class = "btn btn-xs btn-danger" })
                }
            </td>
        </tr>
    }
</table>
