@model ForumApp.Models.ForumDetail

@{
    ViewBag.Title = Model.Name;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Forums", "Index")</li>
        <li class="breadcrumb-item active" aira-current="page">@Model.Name</li>
    </ol>
</nav>

<h1>@Model.Name</h1>

<div class="my-3">
    @Html.ActionLink("New Thread", "Create", "Thread", new { id = Model.ForumId }, new { @class = "btn btn-primary" })
</div>

<table class="table table-hover shadow-sm rounded">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Threads.First().Title)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Threads.First().PostCount)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Threads.First().UserName)
            </th>
            <th scope="col">Last Reply</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var thread in Model.Threads)
        {
            <tr>
                <td>
                    @Html.ActionLink(thread.Title, "Details", "Thread", new { id = thread.ThreadId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => thread.PostCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => thread.UserName)
                </td>
                <td class="small">
                    <i>
                        @Html.DisplayFor(modelItem => thread.LastPostUtc) by
                        @Html.DisplayFor(modelItem => thread.LastPostUserName)
                    </i>
                </td>
                <td>
                    @if (thread.IsEditable)
                    {
                        <div class="btn-group btn-group-sm">
                            @Html.ActionLink("Edit", "Edit", "Thread", new { id = thread.ThreadId }, new { @class = "btn btn-outline-secondary" })
                            @Html.ActionLink("Delete", "Delete", "Thread", new { id = thread.ThreadId }, new { @class = "btn btn-outline-secondary" })
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
