@model ForumApp.Models.ForumDetail

@{
    ViewBag.Title = Model.Name;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Forums", "Index")</li>
        <li class="breadcrumb-item active" aira-current="page">@Model.Name</li>
    </ol>
</nav>

<h1>@Model.Name</h1>

<div class="mb-3">
    @Html.ActionLink(" New Thread", "Create", "Thread", new { id = Model.ForumId }, new { @class = "btn btn-primary bi bi-pencil" })
</div>

@if (Model.Threads.Any())
{
    <table class="table table-hover shadow-sm rounded">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Threads.First().Title)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Threads.First().PostCount)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Threads.First().UserName)
                </th>
                <th scope="col">Last Reply</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var thread in Model.Threads)
            {
                <tr>
                    <td>
                        @Html.ActionLink(thread.Title, "Details", "Thread", new { id = thread.ThreadId }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => thread.PostCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => thread.UserName)
                    </td>
                    <td class="small fst-italic">
                        @Html.DisplayFor(modelItem => thread.LastPostUtc) by
                        @Html.DisplayFor(modelItem => thread.LastPostUserName)
                    </td>
                    <td class="btn-group btn-group-sm">
                        @if (thread.IsBookmarked)
                        {
                            using (Html.BeginForm("DeleteFromForumDetail", "Bookmark", new { threadId = thread.ThreadId, forumId = Model.ForumId }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-sm btn-outline-danger bi bi-bookmark-x"></button>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("CreateFromForumDetail", "Bookmark", new { threadId = thread.ThreadId, forumId = Model.ForumId }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-sm btn-outline-primary bi bi-bookmark-check"></button>
                            }
                        }
                        @if (thread.IsEditable)
                        {
                            @Html.ActionLink(" ", "Edit", "Thread", new { id = thread.ThreadId }, new { @class = "btn btn-outline-secondary bi bi-pencil-square" })
                            @Html.ActionLink(" ", "Delete", "Thread", new { id = thread.ThreadId }, new { @class = "btn btn-outline-secondary bi bi-trash" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="lead text-muted">No threads</p>
}