@model ForumApp.Models.ForumEdit

@{
    string _title = "Edit Forum";
    ViewBag.Title = _title;
}

<h1>@_title</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row mb-3">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ForumId)
    </div>

    <div class="row mb-3">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-3 col-form-label" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-3">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-3 col-form-label" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-3">
        <div class="btn-group btn-group-lg col-md-9 offset-md-3">
            @Html.ActionLink(" Cancel", "Index", null, new { @class = "btn btn-light bi bi-x-lg" })
            <button type="submit" class="btn btn-warning bi bi-pencil-square"> Edit</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
