@model IEnumerable<ForumApp.Models.ForumListItem>

@{
    string _title = "Forums";
    ViewBag.Title = _title;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="breadcrumb-item active" aira-current="page">@_title</li>
    </ol>
</nav>

<h1>@_title</h1>
<div class="mb-3">
    @Html.ActionLink(" New Forum", "Create", null, new { @class = "btn btn-primary bi bi-pencil" })
</div>

@*
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-primary alert-dismissible" role="alert">
            @TempData["SaveResult"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    }
*@

@if (Model.Any())
{
    <table class="table table-hover shadow-sm rounded">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var forum in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(forum.Name, "Details", new { id = forum.ForumId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => forum.Description)
                    </td>
                    <td>
                        @if (forum.IsEditable)
                        {
                            <div class="btn-group btn-group-sm">
                                @Html.ActionLink(" ", "Edit", new { id = forum.ForumId }, new { @class = "btn btn-outline-secondary bi bi-pencil-square" })
                                @Html.ActionLink(" ", "Delete", new { id = forum.ForumId }, new { @class = "btn btn-outline-secondary bi bi-trash" })
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="lead text-muted">No forums</p>
}