@model IEnumerable<ForumApp.Models.ForumListItem>

@{
    ViewBag.Title = "Forums";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="breadcrumb-item active" aira-current="page">Forums</li>
    </ol>
</nav>

<h1>Forums</h1>
<div class="my-3">
    @Html.ActionLink("New Forum", "Create", null, new { @class = "btn btn-primary" })
</div>

<table class="table table-hover shadow-sm rounded">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var forum in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(forum.Name, "Details", new { id = forum.ForumId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => forum.Description)
                </td>
                <td>
                    @if (forum.IsEditable)
                    {
                        <div class="btn-group btn-group-sm">
                            @Html.ActionLink("Edit", "Edit", new { id = forum.ForumId }, new { @class = "btn btn-outline-secondary" })
                            @Html.ActionLink("Delete", "Delete", new { id = forum.ForumId }, new { @class = "btn btn-outline-secondary" })
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
