@model ForumApp.Models.ThreadCreate

@{
    string _title = "New Thread";
    int _textAreaRows = 10;
    ViewBag.Title = _title;
}

<h1>@_title</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row mb-3">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ForumId)
    </div>

    <div class="row mb-3">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-3 col-form-label" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-3">
        @Html.LabelFor(model => model.PostContent, htmlAttributes: new { @class = "col-md-3 col-form-label" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.PostContent, htmlAttributes: new { @class = "form-control", @rows = _textAreaRows })
            @Html.ValidationMessageFor(model => model.PostContent, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-3">
        <div class="btn-group btn-group-lg col-md-9 offset-md-3">
            @Html.ActionLink("Cancel", "Details", "Forum", new { id = Model.ForumId }, new { @class = "btn btn-light" })
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
