@model ForumApp.Models.ThreadEdit

@{
    string _title = "Delete Thread";
    ViewBag.Title = _title;
}

<header>
    <h1>@_title</h1>
    <p class="lead text-danger">Are you sure you want to delete this?</p>
</header>

<dl class="row">
    <dt class="col-md-3">
        @Html.DisplayNameFor(model => model.ForumName)
    </dt>
    <dd class="col-md-9">
        @Html.DisplayFor(model => model.ForumName)
    </dd>

    <dt class="col-md-3">
        @Html.DisplayNameFor(model => model.ThreadTitle)
    </dt>
    <dd class="col-md-9">
        @Html.DisplayFor(model => model.ThreadTitle)
    </dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ForumId)
    @Html.HiddenFor(model => model.ThreadId)

    <div class="row mb-3">
        <div class="btn-group btn-group-lg col-md-9 offset-md-3">
            @Html.ActionLink("Cancel", "Details", "Forum", new { id = Model.ForumId }, new { @class = "btn btn-light" })
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>
}
