@model ForumApp.Models.ThreadDetail
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = Model.Title;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Forums", "Index", "Forum")</li>
        <li class="breadcrumb-item">@Html.ActionLink(Model.ForumName, "Details", "Forum", new { id = Model.ForumId }, null)</li>
        <li class="breadcrumb-item active" aira-current="page">@Model.Title</li>
    </ol>
</nav>

<h1>@Model.Title</h1>

<table class="table table-striped">
    @foreach (var post in Model.Posts)
    {
        <tr>
            <td class="col-sm-4">
                <p>
                    @Html.DisplayFor(modelItem => post.UserName)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => post.CreatedUtc)
                </p>
            </td>
            <td class="col-sm-8">
                <div>
                    @Html.DisplayFor(modelItem => post.Content)
                </div>

                @if (post.ModifiedUtc.HasValue)
                {
                    <div class="text-muted small ">
                        <i>Post edited @Html.DisplayFor(modelItem => post.ModifiedUtc)</i>
                    </div>
                }

                @if (post.IsEditable)
                {
                    <div class="btn-group btn-group-xs">
                        @Html.ActionLink("Edit", "Edit", "Post", new { id = post.PostId }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Delete", "Delete", "Post", new { id = post.PostId }, new { @class = "btn btn-danger" })
                    </div>
                }
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Reply", "Create", "Post", new { id = Model.ThreadId }, new { @class = "btn btn-primary" })
</p>
