@model ForumApp.Models.ThreadDetail

@{
    ViewBag.Title = Model.Title;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Forums", "Index", "Forum")</li>
        <li class="breadcrumb-item">@Html.ActionLink(Model.ForumName, "Details", "Forum", new { id = Model.ForumId }, null)</li>
        <li class="breadcrumb-item active" aira-current="page">@Model.Title</li>
    </ol>
</nav>

<h1>@Model.Title</h1>

@foreach (var post in Model.Posts)
{
    <article class="card mb-2 shadow-sm rounded">
        <div class="row g-0">
            <div class="card-header col-md-4">
                <div class="card-title">
                    @Html.DisplayFor(modelItem => post.UserName)
                </div>
                <div class="card-subtitle">
                    @Html.DisplayFor(modelItem => post.CreatedUtc)
                </div>
            </div>
            <div class="card-body col-md-8">
                <div class="card-text">
                    @Html.DisplayFor(modelItem => post.Content)
                </div>

                @if (post.ModifiedUtc.HasValue)
                {
                    <div class="card-text text-muted small">
                        <i>Post edited @Html.DisplayFor(modelItem => post.ModifiedUtc)</i>
                    </div>
                }

                @if (post.IsEditable)
                {
                    <div class="btn-group btn-group-sm" role="group">
                        @Html.ActionLink("Edit", "Edit", "Post", new { id = post.PostId }, new { @class = "btn btn-outline-warning" })
                        @Html.ActionLink("Delete", "Delete", "Post", new { id = post.PostId }, new { @class = "btn btn-outline-danger" })
                    </div>
                }
            </div>
        </div>
    </article>
}

<div>
    @Html.ActionLink("Reply", "Create", "Post", new { id = Model.ThreadId }, new { @class = "btn btn-primary" })
</div>
